body {
	background-image: url('images/homepage-background1.jfif');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
}

.home-buttons {


}
.home-buttons li{
	display: inline-block;
	color: black;
	font-size: large;
	font-weight: 300;
	padding: 5px 10px;
	margin: 2px 25px;

}

.home-buttons a {

}

h3 {
	
}